In [1]:
from app import app, db, bcrypt
from models import User, Stock, Portfolio
from flask import jsonify, request
import yfinance as yf
import pandas as pd
import sqlite3

In [2]:
companyNames = 'HDFCBANK.NS HINDUNILVR.NS ASIANPAINT.NS RELIANCE.NS TCS.NS AUROPHARMA.NS BBTC.NS BALKRISIND.NS GARFIBRES.NS COLPAL.NS NESTLEIND.NS MARUTI.NS BRITANNIA.NS BOSCHLTD.NS ONGC.NS ABBOTINDIA.NS DIVISLAB.NS BAJFINANCE.NS RECLTD.NS PFC.NS PIDILITIND.NS ARE&M.NS'

In [3]:
companyNamesArray = companyNames.split()

In [4]:
companyNamesArray

['HDFCBANK.NS',
 'HINDUNILVR.NS',
 'ASIANPAINT.NS',
 'RELIANCE.NS',
 'TCS.NS',
 'AUROPHARMA.NS',
 'BBTC.NS',
 'BALKRISIND.NS',
 'GARFIBRES.NS',
 'COLPAL.NS',
 'NESTLEIND.NS',
 'MARUTI.NS',
 'BRITANNIA.NS',
 'BOSCHLTD.NS',
 'ONGC.NS',
 'ABBOTINDIA.NS',
 'DIVISLAB.NS',
 'BAJFINANCE.NS',
 'RECLTD.NS',
 'PFC.NS',
 'PIDILITIND.NS',
 'ARE&M.NS']

In [5]:
len(companyNamesArray)

22

In [6]:
multipleStocks = yf.Tickers(companyNames)

In [7]:
ms_stockprices = multipleStocks.history(period="max")

[*********************100%***********************]  22 of 22 completed

In [8]:
ms_stockprices

Price              Close                                           \
Ticker     ABBOTINDIA.NS     ARE&M.NS ASIANPAINT.NS AUROPHARMA.NS
Date
1996-01-01           NaN          NaN           NaN           NaN
1996-01-02           NaN          NaN           NaN           NaN
1996-01-03           NaN          NaN           NaN           NaN
1996-01-04           NaN          NaN           NaN           NaN
1996-01-05           NaN          NaN           NaN           NaN
...                  ...          ...           ...           ...
2025-03-17  30176.250000   970.500000   2219.550049   1111.699951
2025-03-18  30176.250000  1006.150024   2219.550049   1111.699951
2025-03-19  30348.900391  1060.699951   2280.699951   1163.800049
2025-03-20  30179.349609  1038.300049   2287.199951   1174.150024
2025-03-21  30292.099609  1063.900024   2300.399902   1200.349976

Price                                                              \
Ticker     BAJFINANCE.NS BALKRISIND.NS      BBTC.NS   BOSCHLTD.NS
Date
1996-01-01           NaN           NaN          NaN           NaN
1996-01-02           NaN           NaN          NaN           NaN
1996-01-03           NaN           NaN          NaN           NaN
1996-01-04           NaN           NaN          NaN           NaN
1996-01-05           NaN           NaN          NaN           NaN
...                  ...           ...          ...           ...
2025-03-17   8580.349609   2528.949951  1640.550049  26345.849609
2025-03-18   8580.349609   2528.949951  1640.550049  26345.849609
2025-03-19   8731.599609   2619.699951  1731.050049  27557.300781
2025-03-20   8679.650391   2600.250000  1738.199951  27623.849609
2025-03-21   8916.099609   2609.850098  1784.599976  27432.250000

Price                                 ...      Volume                          \
Ticker     BRITANNIA.NS    COLPAL.NS  ... HDFCBANK.NS HINDUNILVR.NS MARUTI.NS
Date                                  ...
1996-01-01          NaN          NaN  ...      350000         11000       NaN
1996-01-02     7.473683          NaN  ...      412000        203500       NaN
1996-01-03     7.379679          NaN  ...      284000         58000       NaN
1996-01-04     7.379679          NaN  ...      282000        111500       NaN
1996-01-05     7.384377          NaN  ...      189000         39500       NaN
...                 ...          ...  ...         ...           ...       ...
2025-03-17  4674.899902  2383.500000  ...     9475326       1111886  275569.0
2025-03-18  4674.899902  2383.500000  ...           0             0       0.0
2025-03-19  4707.100098  2413.850098  ...     7610703       1341405  476555.0
2025-03-20  4831.100098  2418.300049  ...     8916989       1426689  379421.0
2025-03-21  4814.000000  2401.100098  ...    16754132       2152415  560565.0

Price                                                                    \
Ticker     NESTLEIND.NS     ONGC.NS     PFC.NS PIDILITIND.NS  RECLTD.NS
Date
1996-01-01          NaN     10800.0        NaN           NaN        NaN
1996-01-02          NaN     27000.0        NaN           NaN        NaN
1996-01-03          NaN     10800.0        NaN           NaN        NaN
1996-01-04          NaN     41400.0        NaN           NaN        NaN
1996-01-05          NaN     46800.0        NaN           NaN        NaN
...                 ...         ...        ...           ...        ...
2025-03-17     410005.0   8788971.0  6963936.0      156791.0  5584100.0
2025-03-18          0.0         0.0        0.0           0.0        0.0
2025-03-19     422543.0   8626593.0  6805771.0      242351.0  8219861.0
2025-03-20     476874.0  18955995.0  5519039.0      314741.0  5413493.0
2025-03-21     792637.0  29285333.0  7418546.0      700191.0  9605751.0

Price
Ticker      RELIANCE.NS     TCS.NS
Date
1996-01-01  104121369.0        NaN
1996-01-02  168743308.0        NaN
1996-01-03  209323879.0        NaN
1996-01-04  216900264.0        NaN
1996-01-05  166708467.0        NaN
...                 ...        ...
2025-03-17   16640917.0  2690906.0
2025-03-18          0.0        0.0
2025-03-19   16162399.0  3051244.0
2025-03-20   15971477.0  2845192.0
2025-03-21   21780769.0  4161925.0

[7341 rows x 154 columns]

In [21]:
yf.__version__

'0.2.51'

In [20]:
print(yf.download('AAPL', period='1d'))

Failed to get ticker 'AAPL' reason: Expecting value: line 1 column 1 (char 0)
[*********************100%***********************]  1 of 1 completed

1 Failed download:
['AAPL']: JSONDecodeError('Expecting value: line 1 column 1 (char 0)')

Empty DataFrame
Columns: [(Adj Close, AAPL), (Close, AAPL), (High, AAPL), (Low, AAPL), (Open, AAPL), (Volume, AAPL)]
Index: []

In [21]:
ms_stockprices["Close"].head().columns

Index(['ABBOTINDIA.NS', 'ARE&M.NS', 'ASIANPAINT.NS', 'AUROPHARMA.NS',
       'BAJFINANCE.NS', 'BALKRISIND.NS', 'BBTC.NS', 'BOSCHLTD.NS',
       'BRITANNIA.NS', 'COLPAL.NS', 'DIVISLAB.NS', 'GARFIBRES.NS',
       'HDFCBANK.NS', 'HINDUNILVR.NS', 'MARUTI.NS', 'NESTLEIND.NS', 'ONGC.NS',
       'PFC.NS', 'PIDILITIND.NS', 'RECLTD.NS', 'RELIANCE.NS', 'TCS.NS'],
      dtype='object', name='Ticker')

In [27]:
stockPrices_18 = ms_stockprices.loc[:,('Close',companyNamesArray)]

In [28]:
stockPrices_18

Price             Close                                                        \
Ticker      HDFCBANK.NS HINDUNILVR.NS ASIANPAINT.NS  RELIANCE.NS       TCS.NS
Date
1996-01-01     2.331029     34.623829           NaN     3.611231          NaN
1996-01-02     2.327118     34.993587           NaN     3.583147          NaN
1996-01-03     2.334941     34.786301           NaN     3.610353          NaN
1996-01-04     2.319296     34.789097           NaN     3.577005          NaN
1996-01-05     2.315385     34.733070           NaN     3.552434          NaN
...                 ...           ...           ...          ...          ...
2025-01-17  1636.750000   2354.000000   2261.000000  1302.349976  4124.299805
2025-01-20  1651.250000   2345.199951   2280.550049  1305.449951  4077.800049
2025-01-21  1642.400024   2340.500000   2260.350098  1273.699951  4035.850098
2025-01-22  1666.050049   2342.949951   2262.100098  1277.099976  4156.600098
2025-01-23  1664.900024   2321.699951   2276.350098  1263.650024  4145.450195

Price                                                                          \
Ticker     AUROPHARMA.NS      BBTC.NS BALKRISIND.NS GARFIBRES.NS    COLPAL.NS
Date
1996-01-01           NaN          NaN           NaN          NaN          NaN
1996-01-02           NaN          NaN           NaN          NaN          NaN
1996-01-03           NaN          NaN           NaN          NaN          NaN
1996-01-04           NaN          NaN           NaN          NaN          NaN
1996-01-05           NaN          NaN           NaN          NaN          NaN
...                  ...          ...           ...          ...          ...
2025-01-17   1178.349976  2003.300049   2705.850098   812.750000  2683.649902
2025-01-20   1202.050049  2034.699951   2721.500000   803.349976  2708.600098
2025-01-21   1187.000000  1980.099976   2681.600098   778.000000  2731.850098
2025-01-22   1191.800049  2230.149902   2708.449951   787.799988  2771.550049
2025-01-23   1244.800049  2232.199951   2728.899902   809.150024  2738.949951

Price       ...                                                       \
Ticker      ... BRITANNIA.NS   BOSCHLTD.NS     ONGC.NS ABBOTINDIA.NS
Date        ...
1996-01-01  ...          NaN           NaN    5.462962           NaN
1996-01-02  ...     7.473683           NaN    5.546905           NaN
1996-01-03  ...     7.379675           NaN    5.488790           NaN
1996-01-04  ...     7.379675           NaN    5.490403           NaN
1996-01-05  ...     7.384376           NaN    5.492018           NaN
...         ...          ...           ...         ...           ...
2025-01-17  ...  4854.399902  31399.800781  266.570007  27929.699219
2025-01-20  ...  4885.399902  31136.750000  269.359985  27682.099609
2025-01-21  ...  4903.850098  30611.000000  265.799988  27631.400391
2025-01-22  ...  4956.700195  30582.699219  264.049988  27774.449219
2025-01-23  ...  5012.600098  30990.500000  263.049988  27849.800781

Price                                                                        \
Ticker      DIVISLAB.NS BAJFINANCE.NS   RECLTD.NS      PFC.NS PIDILITIND.NS
Date
1996-01-01          NaN           NaN         NaN         NaN           NaN
1996-01-02          NaN           NaN         NaN         NaN           NaN
1996-01-03          NaN           NaN         NaN         NaN           NaN
1996-01-04          NaN           NaN         NaN         NaN           NaN
1996-01-05          NaN           NaN         NaN         NaN           NaN
...                 ...           ...         ...         ...           ...
2025-01-17  5916.049805   7182.100098  482.350006  433.450012   2813.350098
2025-01-20  6000.600098   7440.100098  490.750000  436.899994   2787.750000
2025-01-21  5818.899902   7291.649902  476.450012  427.899994   2749.699951
2025-01-22  5812.500000   7397.149902  462.049988  420.600006   2754.750000
2025-01-23  5850.950195   7443.250000  463.750000  421.250000   2909.649902

Price
Ticker         ARE&M.NS
Date
1996-01-01          NaN
1996-01-02          NaN
1996-01-03          NaN
1996-01-04          NaN
1996-01-05          NaN
...                 ...
2025-01-17  1077.699951
2025-01-20  1109.900024
2025-01-21  1094.699951
2025-01-22  1066.050049
2025-01-23  1078.300049

[7301 rows x 22 columns]

In [29]:
singleIndex_df_2 = stockPrices_18.groupby(level=1,axis=1).sum()

/tmp/ipykernel_1011/1272841217.py:1: FutureWarning: DataFrame.groupby with axis=1 is deprecated. Do `frame.T.groupby(...)` without axis instead.
  singleIndex_df_2 = stockPrices_18.groupby(level=1,axis=1).sum()

In [30]:
singleIndex_df_2

Ticker,ABBOTINDIA.NS,ARE&M.NS,ASIANPAINT.NS,AUROPHARMA.NS,BAJFINANCE.NS,BALKRISIND.NS,BBTC.NS,BOSCHLTD.NS,BRITANNIA.NS,COLPAL.NS,...,HDFCBANK.NS,HINDUNILVR.NS,MARUTI.NS,NESTLEIND.NS,ONGC.NS,PFC.NS,PIDILITIND.NS,RECLTD.NS,RELIANCE.NS,TCS.NS
Date,,,,,,,,,,,,,,,,,,,,,
1996-01-01,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,2.331029,34.623829,0.000000,0.000000,5.462962,0.000000,0.000000,0.000000,3.611231,0.000000
1996-01-02,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,7.473683,0.000000,...,2.327118,34.993587,0.000000,0.000000,5.546905,0.000000,0.000000,0.000000,3.583147,0.000000
1996-01-03,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,7.379675,0.000000,...,2.334941,34.786301,0.000000,0.000000,5.488790,0.000000,0.000000,0.000000,3.610353,0.000000
1996-01-04,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,7.379675,0.000000,...,2.319296,34.789097,0.000000,0.000000,5.490403,0.000000,0.000000,0.000000,3.577005,0.000000
1996-01-05,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,7.384376,0.000000,...,2.315385,34.733070,0.000000,0.000000,5.492018,0.000000,0.000000,0.000000,3.552434,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2025-01-17,27929.699219,1077.699951,2261.000000,1178.349976,7182.100098,2705.850098,2003.300049,31399.800781,4854.399902,2683.649902,...,1636.750000,2354.000000,12136.349609,2217.199951,266.570007,433.450012,2813.350098,482.350006,1302.349976,4124.299805
2025-01-20,27682.099609,1109.900024,2280.550049,1202.050049,7440.100098,2721.500000,2034.699951,31136.750000,4885.399902,2708.600098,...,1651.250000,2345.199951,12020.049805,2214.000000,269.359985,436.899994,2787.750000,490.750000,1305.449951,4077.800049
2025-01-21,27631.400391,1094.699951,2260.350098,1187.000000,7291.649902,2681.600098,1980.099976,30611.000000,4903.850098,2731.850098,...,1642.400024,2340.500000,11883.700195,2196.449951,265.799988,427.899994,2749.699951,476.450012,1273.699951,4035.850098
2025-01-22,27774.449219,1066.050049,2262.100098,1191.800049,7397.149902,2708.449951,2230.149902,30582.699219,4956.700195,2771.550049,...,1666.050049,2342.949951,12020.349609,2207.800049,264.049988,420.600006,2754.750000,462.049988,1277.099976,4156.600098
2025-01-23,27849.800781,1078.300049,2276.350098,1244.800049,7443.250000,2728.899902,2232.199951,30990.500000,5012.600098,2738.949951,...,1664.900024,2321.699951,12045.750000,2198.949951,263.049988,421.250000,2909.649902,463.750000,1263.650024,4145.450195

In [31]:
singleIndex_df_2= singleIndex_df_2.reset_index()

In [32]:
singleIndex_df_2

Ticker,Date,ABBOTINDIA.NS,ARE&M.NS,ASIANPAINT.NS,AUROPHARMA.NS,BAJFINANCE.NS,BALKRISIND.NS,BBTC.NS,BOSCHLTD.NS,BRITANNIA.NS,...,HDFCBANK.NS,HINDUNILVR.NS,MARUTI.NS,NESTLEIND.NS,ONGC.NS,PFC.NS,PIDILITIND.NS,RECLTD.NS,RELIANCE.NS,TCS.NS
0,1996-01-01,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,2.331029,34.623829,0.000000,0.000000,5.462962,0.000000,0.000000,0.000000,3.611231,0.000000
1,1996-01-02,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,7.473683,...,2.327118,34.993587,0.000000,0.000000,5.546905,0.000000,0.000000,0.000000,3.583147,0.000000
2,1996-01-03,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,7.379675,...,2.334941,34.786301,0.000000,0.000000,5.488790,0.000000,0.000000,0.000000,3.610353,0.000000
3,1996-01-04,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,7.379675,...,2.319296,34.789097,0.000000,0.000000,5.490403,0.000000,0.000000,0.000000,3.577005,0.000000
4,1996-01-05,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,7.384376,...,2.315385,34.733070,0.000000,0.000000,5.492018,0.000000,0.000000,0.000000,3.552434,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7296,2025-01-17,27929.699219,1077.699951,2261.000000,1178.349976,7182.100098,2705.850098,2003.300049,31399.800781,4854.399902,...,1636.750000,2354.000000,12136.349609,2217.199951,266.570007,433.450012,2813.350098,482.350006,1302.349976,4124.299805
7297,2025-01-20,27682.099609,1109.900024,2280.550049,1202.050049,7440.100098,2721.500000,2034.699951,31136.750000,4885.399902,...,1651.250000,2345.199951,12020.049805,2214.000000,269.359985,436.899994,2787.750000,490.750000,1305.449951,4077.800049
7298,2025-01-21,27631.400391,1094.699951,2260.350098,1187.000000,7291.649902,2681.600098,1980.099976,30611.000000,4903.850098,...,1642.400024,2340.500000,11883.700195,2196.449951,265.799988,427.899994,2749.699951,476.450012,1273.699951,4035.850098
7299,2025-01-22,27774.449219,1066.050049,2262.100098,1191.800049,7397.149902,2708.449951,2230.149902,30582.699219,4956.700195,...,1666.050049,2342.949951,12020.349609,2207.800049,264.049988,420.600006,2754.750000,462.049988,1277.099976,4156.600098
7300,2025-01-23,27849.800781,1078.300049,2276.350098,1244.800049,7443.250000,2728.899902,2232.199951,30990.500000,5012.600098,...,1664.900024,2321.699951,12045.750000,2198.949951,263.049988,421.250000,2909.649902,463.750000,1263.650024,4145.450195

In [33]:
# Melt the DataFrame
df_long = singleIndex_df_2.melt(id_vars=["Date"], var_name='company', value_name='price')

In [34]:
df_long

             Date        company        price
0      1996-01-01  ABBOTINDIA.NS     0.000000
1      1996-01-02  ABBOTINDIA.NS     0.000000
2      1996-01-03  ABBOTINDIA.NS     0.000000
3      1996-01-04  ABBOTINDIA.NS     0.000000
4      1996-01-05  ABBOTINDIA.NS     0.000000
...           ...            ...          ...
160617 2025-01-17         TCS.NS  4124.299805
160618 2025-01-20         TCS.NS  4077.800049
160619 2025-01-21         TCS.NS  4035.850098
160620 2025-01-22         TCS.NS  4156.600098
160621 2025-01-23         TCS.NS  4145.450195

[160622 rows x 3 columns]

In [35]:
stockData_22 = ms_stockprices.loc[:,(['Close','Volume','Dividends','Stock Splits'],companyNamesArray)]

In [36]:
stockData_22

Price             Close                                                        \
Ticker      HDFCBANK.NS HINDUNILVR.NS ASIANPAINT.NS  RELIANCE.NS       TCS.NS
Date
1996-01-01     2.331029     34.623829           NaN     3.611231          NaN
1996-01-02     2.327118     34.993587           NaN     3.583147          NaN
1996-01-03     2.334941     34.786301           NaN     3.610353          NaN
1996-01-04     2.319296     34.789097           NaN     3.577005          NaN
1996-01-05     2.315385     34.733070           NaN     3.552434          NaN
...                 ...           ...           ...          ...          ...
2025-01-17  1636.750000   2354.000000   2261.000000  1302.349976  4124.299805
2025-01-20  1651.250000   2345.199951   2280.550049  1305.449951  4077.800049
2025-01-21  1642.400024   2340.500000   2260.350098  1273.699951  4035.850098
2025-01-22  1666.050049   2342.949951   2262.100098  1277.099976  4156.600098
2025-01-23  1664.900024   2321.699951   2276.350098  1263.650024  4145.450195

Price                                                                          \
Ticker     AUROPHARMA.NS      BBTC.NS BALKRISIND.NS GARFIBRES.NS    COLPAL.NS
Date
1996-01-01           NaN          NaN           NaN          NaN          NaN
1996-01-02           NaN          NaN           NaN          NaN          NaN
1996-01-03           NaN          NaN           NaN          NaN          NaN
1996-01-04           NaN          NaN           NaN          NaN          NaN
1996-01-05           NaN          NaN           NaN          NaN          NaN
...                  ...          ...           ...          ...          ...
2025-01-17   1178.349976  2003.300049   2705.850098   812.750000  2683.649902
2025-01-20   1202.050049  2034.699951   2721.500000   803.349976  2708.600098
2025-01-21   1187.000000  1980.099976   2681.600098   778.000000  2731.850098
2025-01-22   1191.800049  2230.149902   2708.449951   787.799988  2771.550049
2025-01-23   1244.800049  2232.199951   2728.899902   809.150024  2738.949951

Price       ... Stock Splits                                                \
Ticker      ... BRITANNIA.NS BOSCHLTD.NS ONGC.NS ABBOTINDIA.NS DIVISLAB.NS
Date        ...
1996-01-01  ...          NaN         NaN     0.0           NaN         NaN
1996-01-02  ...          0.0         NaN     0.0           NaN         NaN
1996-01-03  ...          0.0         NaN     0.0           NaN         NaN
1996-01-04  ...          0.0         NaN     0.0           NaN         NaN
1996-01-05  ...          0.0         NaN     0.0           NaN         NaN
...         ...          ...         ...     ...           ...         ...
2025-01-17  ...          0.0         0.0     0.0           0.0         0.0
2025-01-20  ...          0.0         0.0     0.0           0.0         0.0
2025-01-21  ...          0.0         0.0     0.0           0.0         0.0
2025-01-22  ...          0.0         0.0     0.0           0.0         0.0
2025-01-23  ...          0.0         0.0     0.0           0.0         0.0

Price
Ticker     BAJFINANCE.NS RECLTD.NS PFC.NS PIDILITIND.NS ARE&M.NS
Date
1996-01-01           NaN       NaN    NaN           NaN      NaN
1996-01-02           NaN       NaN    NaN           NaN      NaN
1996-01-03           NaN       NaN    NaN           NaN      NaN
1996-01-04           NaN       NaN    NaN           NaN      NaN
1996-01-05           NaN       NaN    NaN           NaN      NaN
...                  ...       ...    ...           ...      ...
2025-01-17           0.0       0.0    0.0           0.0      0.0
2025-01-20           0.0       0.0    0.0           0.0      0.0
2025-01-21           0.0       0.0    0.0           0.0      0.0
2025-01-22           0.0       0.0    0.0           0.0      0.0
2025-01-23           0.0       0.0    0.0           0.0      0.0

[7301 rows x 88 columns]

In [37]:
singleIndex_df_22 = stockData_22.groupby(level=1,axis=1).sum()

/tmp/ipykernel_1011/4170056633.py:1: FutureWarning: DataFrame.groupby with axis=1 is deprecated. Do `frame.T.groupby(...)` without axis instead.
  singleIndex_df_22 = stockData_22.groupby(level=1,axis=1).sum()

In [38]:
singleIndex_df_22

Ticker,ABBOTINDIA.NS,ARE&M.NS,ASIANPAINT.NS,AUROPHARMA.NS,BAJFINANCE.NS,BALKRISIND.NS,BBTC.NS,BOSCHLTD.NS,BRITANNIA.NS,COLPAL.NS,...,HDFCBANK.NS,HINDUNILVR.NS,MARUTI.NS,NESTLEIND.NS,ONGC.NS,PFC.NS,PIDILITIND.NS,RECLTD.NS,RELIANCE.NS,TCS.NS
Date,,,,,,,,,,,,,,,,,,,,,
1996-01-01,0.000000,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000,0.000000e+00,0.000000,0.000000,0.000000,...,3.500023e+05,1.103462e+04,0.000000,0.000000,1.080546e+04,0.000000e+00,0.000000e+00,0.000000e+00,1.041214e+08,0.000000e+00
1996-01-02,0.000000,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000,0.000000e+00,0.000000,1507.473683,0.000000,...,4.120023e+05,2.035350e+05,0.000000,0.000000,2.700555e+04,0.000000e+00,0.000000e+00,0.000000e+00,1.687433e+08,0.000000e+00
1996-01-03,0.000000,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000,0.000000e+00,0.000000,3007.379675,0.000000,...,2.840023e+05,5.803479e+04,0.000000,0.000000,1.080549e+04,0.000000e+00,0.000000e+00,0.000000e+00,2.093239e+08,0.000000e+00
1996-01-04,0.000000,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000,0.000000e+00,0.000000,7.379675,0.000000,...,2.820023e+05,1.115348e+05,0.000000,0.000000,4.140549e+04,0.000000e+00,0.000000e+00,0.000000e+00,2.169003e+08,0.000000e+00
1996-01-05,0.000000,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000,0.000000e+00,0.000000,6007.384376,0.000000,...,1.890023e+05,3.953473e+04,0.000000,0.000000,4.680549e+04,0.000000e+00,0.000000e+00,0.000000e+00,1.667085e+08,0.000000e+00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2025-01-17,43123.699219,314597.699951,8.811090e+05,6.581673e+05,6.724561e+05,128552.850098,2.755730e+04,46231.800781,497701.399902,363576.649902,...,1.155767e+07,1.335359e+06,297506.349609,458118.199951,1.214841e+07,5.109797e+06,2.361544e+05,4.196182e+06,2.936758e+07,1.765656e+06
2025-01-20,36300.099609,529269.900024,5.579966e+05,6.187251e+05,1.075411e+06,132374.500000,3.235870e+04,42745.750000,160847.399902,238192.600098,...,8.780460e+06,1.384618e+06,263751.049805,403322.000000,9.676533e+06,4.693147e+06,2.052498e+05,5.001427e+06,1.404155e+07,1.291877e+06
2025-01-21,36759.400391,557973.699951,1.412554e+06,4.574630e+05,1.010498e+06,499687.600098,2.608110e+04,43417.000000,382360.850098,388425.850098,...,1.558071e+07,1.845226e+06,311921.700195,766610.449951,8.989484e+06,5.673988e+06,3.623617e+05,5.396136e+06,1.456425e+07,1.975627e+06
2025-01-22,34459.449219,456016.050049,8.377851e+05,6.047178e+05,7.347651e+05,311822.449951,1.510369e+06,52016.699219,465088.700195,674796.550049,...,1.531132e+07,2.660390e+06,408610.349609,450243.800049,7.919946e+06,7.990978e+06,3.161958e+05,1.028892e+07,1.027487e+07,2.413380e+06
2025-01-23,32433.800781,385043.300049,1.144741e+06,1.316056e+06,1.037738e+06,69936.899902,8.484962e+05,48799.500000,366094.600098,487409.949951,...,1.745624e+07,3.411247e+06,492921.750000,498205.949951,5.026938e+06,5.202152e+06,2.315667e+06,5.321115e+06,8.721946e+06,1.827143e+06

In [39]:
stockData_22

Price             Close                                                        \
Ticker      HDFCBANK.NS HINDUNILVR.NS ASIANPAINT.NS  RELIANCE.NS       TCS.NS
Date
1996-01-01     2.331029     34.623829           NaN     3.611231          NaN
1996-01-02     2.327118     34.993587           NaN     3.583147          NaN
1996-01-03     2.334941     34.786301           NaN     3.610353          NaN
1996-01-04     2.319296     34.789097           NaN     3.577005          NaN
1996-01-05     2.315385     34.733070           NaN     3.552434          NaN
...                 ...           ...           ...          ...          ...
2025-01-17  1636.750000   2354.000000   2261.000000  1302.349976  4124.299805
2025-01-20  1651.250000   2345.199951   2280.550049  1305.449951  4077.800049
2025-01-21  1642.400024   2340.500000   2260.350098  1273.699951  4035.850098
2025-01-22  1666.050049   2342.949951   2262.100098  1277.099976  4156.600098
2025-01-23  1664.900024   2321.699951   2276.350098  1263.650024  4145.450195

Price                                                                          \
Ticker     AUROPHARMA.NS      BBTC.NS BALKRISIND.NS GARFIBRES.NS    COLPAL.NS
Date
1996-01-01           NaN          NaN           NaN          NaN          NaN
1996-01-02           NaN          NaN           NaN          NaN          NaN
1996-01-03           NaN          NaN           NaN          NaN          NaN
1996-01-04           NaN          NaN           NaN          NaN          NaN
1996-01-05           NaN          NaN           NaN          NaN          NaN
...                  ...          ...           ...          ...          ...
2025-01-17   1178.349976  2003.300049   2705.850098   812.750000  2683.649902
2025-01-20   1202.050049  2034.699951   2721.500000   803.349976  2708.600098
2025-01-21   1187.000000  1980.099976   2681.600098   778.000000  2731.850098
2025-01-22   1191.800049  2230.149902   2708.449951   787.799988  2771.550049
2025-01-23   1244.800049  2232.199951   2728.899902   809.150024  2738.949951

Price       ... Stock Splits                                                \
Ticker      ... BRITANNIA.NS BOSCHLTD.NS ONGC.NS ABBOTINDIA.NS DIVISLAB.NS
Date        ...
1996-01-01  ...          NaN         NaN     0.0           NaN         NaN
1996-01-02  ...          0.0         NaN     0.0           NaN         NaN
1996-01-03  ...          0.0         NaN     0.0           NaN         NaN
1996-01-04  ...          0.0         NaN     0.0           NaN         NaN
1996-01-05  ...          0.0         NaN     0.0           NaN         NaN
...         ...          ...         ...     ...           ...         ...
2025-01-17  ...          0.0         0.0     0.0           0.0         0.0
2025-01-20  ...          0.0         0.0     0.0           0.0         0.0
2025-01-21  ...          0.0         0.0     0.0           0.0         0.0
2025-01-22  ...          0.0         0.0     0.0           0.0         0.0
2025-01-23  ...          0.0         0.0     0.0           0.0         0.0

Price
Ticker     BAJFINANCE.NS RECLTD.NS PFC.NS PIDILITIND.NS ARE&M.NS
Date
1996-01-01           NaN       NaN    NaN           NaN      NaN
1996-01-02           NaN       NaN    NaN           NaN      NaN
1996-01-03           NaN       NaN    NaN           NaN      NaN
1996-01-04           NaN       NaN    NaN           NaN      NaN
1996-01-05           NaN       NaN    NaN           NaN      NaN
...                  ...       ...    ...           ...      ...
2025-01-17           0.0       0.0    0.0           0.0      0.0
2025-01-20           0.0       0.0    0.0           0.0      0.0
2025-01-21           0.0       0.0    0.0           0.0      0.0
2025-01-22           0.0       0.0    0.0           0.0      0.0
2025-01-23           0.0       0.0    0.0           0.0      0.0

[7301 rows x 88 columns]

In [40]:
# Example MultiIndex DataFrame
data = {
    ('Price', 'Company_A'): [100, 105],
    ('Volume', 'Company_A'): [10000, 12000],
    ('Price', 'Company_B'): [120, 125],
    ('Volume', 'Company_B'): [15000, 17000]
}

df = pd.DataFrame(data, index=['2023-01-01', '2023-01-02'])

In [41]:
df

               Price    Volume     Price    Volume
           Company_A Company_A Company_B Company_B
2023-01-01       100     10000       120     15000
2023-01-02       105     12000       125     17000

In [42]:
# Combine 'Price' and 'Company_A' into 'Company_A_Price'
df.columns = df.columns.map(lambda x: f"{x[1]}_{x[0]}")

print(df)

            Company_A_Price  Company_A_Volume  Company_B_Price  \
2023-01-01              100             10000              120
2023-01-02              105             12000              125

            Company_B_Volume
2023-01-01             15000
2023-01-02             17000

In [43]:
stockData_22.columns = stockData_22.columns.map(lambda x: f"{x[0]}_{x[1]}")

In [48]:
stockData_22

,Close_HDFCBANK.NS,Close_HINDUNILVR.NS,Close_ASIANPAINT.NS,Close_RELIANCE.NS,Close_TCS.NS,Close_AUROPHARMA.NS,Close_BBTC.NS,Close_BALKRISIND.NS,Close_GARFIBRES.NS,Close_COLPAL.NS,...,Stock Splits_BRITANNIA.NS,Stock Splits_BOSCHLTD.NS,Stock Splits_ONGC.NS,Stock Splits_ABBOTINDIA.NS,Stock Splits_DIVISLAB.NS,Stock Splits_BAJFINANCE.NS,Stock Splits_RECLTD.NS,Stock Splits_PFC.NS,Stock Splits_PIDILITIND.NS,Stock Splits_ARE&M.NS
Date,,,,,,,,,,,,,,,,,,,,,
1996-01-01,2.331029,34.623829,NaN,3.611231,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1996-01-02,2.327118,34.993587,NaN,3.583147,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1996-01-03,2.334941,34.786301,NaN,3.610353,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1996-01-04,2.319296,34.789097,NaN,3.577005,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1996-01-05,2.315385,34.733070,NaN,3.552434,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2025-01-17,1636.750000,2354.000000,2261.000000,1302.349976,4124.299805,1178.349976,2003.300049,2705.850098,812.750000,2683.649902,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2025-01-20,1651.250000,2345.199951,2280.550049,1305.449951,4077.800049,1202.050049,2034.699951,2721.500000,803.349976,2708.600098,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2025-01-21,1642.400024,2340.500000,2260.350098,1273.699951,4035.850098,1187.000000,1980.099976,2681.600098,778.000000,2731.850098,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2025-01-22,1666.050049,2342.949951,2262.100098,1277.099976,4156.600098,1191.800049,2230.149902,2708.449951,787.799988,2771.550049,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2025-01-23,1664.900024,2321.699951,2276.350098,1263.650024,4145.450195,1244.800049,2232.199951,2728.899902,809.150024,2738.949951,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [45]:
companyNamesArray

['HDFCBANK.NS',
 'HINDUNILVR.NS',
 'ASIANPAINT.NS',
 'RELIANCE.NS',
 'TCS.NS',
 'AUROPHARMA.NS',
 'BBTC.NS',
 'BALKRISIND.NS',
 'GARFIBRES.NS',
 'COLPAL.NS',
 'NESTLEIND.NS',
 'MARUTI.NS',
 'BRITANNIA.NS',
 'BOSCHLTD.NS',
 'ONGC.NS',
 'ABBOTINDIA.NS',
 'DIVISLAB.NS',
 'BAJFINANCE.NS',
 'RECLTD.NS',
 'PFC.NS',
 'PIDILITIND.NS',
 'ARE&M.NS']

In [46]:
metrics = ['Close','Volume', 'Dividends', 'Stock Splits']

In [47]:
metrics

['Close', 'Volume', 'Dividends', 'Stock Splits']

In [49]:
# Prepare the value_vars dictionary dynamically
value_vars = {}
for company in companyNamesArray:
    for metric in metrics:
        column_name = f"{metric}_{company}"
        if column_name in stockData_22.columns:  # Check if the column exists
            value_vars[column_name] = (company, metric)

In [50]:
value_vars

{'Close_HDFCBANK.NS': ('HDFCBANK.NS', 'Close'),
 'Volume_HDFCBANK.NS': ('HDFCBANK.NS', 'Volume'),
 'Dividends_HDFCBANK.NS': ('HDFCBANK.NS', 'Dividends'),
 'Stock Splits_HDFCBANK.NS': ('HDFCBANK.NS', 'Stock Splits'),
 'Close_HINDUNILVR.NS': ('HINDUNILVR.NS', 'Close'),
 'Volume_HINDUNILVR.NS': ('HINDUNILVR.NS', 'Volume'),
 'Dividends_HINDUNILVR.NS': ('HINDUNILVR.NS', 'Dividends'),
 'Stock Splits_HINDUNILVR.NS': ('HINDUNILVR.NS', 'Stock Splits'),
 'Close_ASIANPAINT.NS': ('ASIANPAINT.NS', 'Close'),
 'Volume_ASIANPAINT.NS': ('ASIANPAINT.NS', 'Volume'),
 'Dividends_ASIANPAINT.NS': ('ASIANPAINT.NS', 'Dividends'),
 'Stock Splits_ASIANPAINT.NS': ('ASIANPAINT.NS', 'Stock Splits'),
 'Close_RELIANCE.NS': ('RELIANCE.NS', 'Close'),
 'Volume_RELIANCE.NS': ('RELIANCE.NS', 'Volume'),
 'Dividends_RELIANCE.NS': ('RELIANCE.NS', 'Dividends'),
 'Stock Splits_RELIANCE.NS': ('RELIANCE.NS', 'Stock Splits'),
 'Close_TCS.NS': ('TCS.NS', 'Close'),
 'Volume_TCS.NS': ('TCS.NS', 'Volume'),
 'Dividends_TCS.NS': ('TCS.NS', 'Dividends'),
 'Stock Splits_TCS.NS': ('TCS.NS', 'Stock Splits'),
 'Close_AUROPHARMA.NS': ('AUROPHARMA.NS', 'Close'),
 'Volume_AUROPHARMA.NS': ('AUROPHARMA.NS', 'Volume'),
 'Dividends_AUROPHARMA.NS': ('AUROPHARMA.NS', 'Dividends'),
 'Stock Splits_AUROPHARMA.NS': ('AUROPHARMA.NS', 'Stock Splits'),
 'Close_BBTC.NS': ('BBTC.NS', 'Close'),
 'Volume_BBTC.NS': ('BBTC.NS', 'Volume'),
 'Dividends_BBTC.NS': ('BBTC.NS', 'Dividends'),
 'Stock Splits_BBTC.NS': ('BBTC.NS', 'Stock Splits'),
 'Close_BALKRISIND.NS': ('BALKRISIND.NS', 'Close'),
 'Volume_BALKRISIND.NS': ('BALKRISIND.NS', 'Volume'),
 'Dividends_BALKRISIND.NS': ('BALKRISIND.NS', 'Dividends'),
 'Stock Splits_BALKRISIND.NS': ('BALKRISIND.NS', 'Stock Splits'),
 'Close_GARFIBRES.NS': ('GARFIBRES.NS', 'Close'),
 'Volume_GARFIBRES.NS': ('GARFIBRES.NS', 'Volume'),
 'Dividends_GARFIBRES.NS': ('GARFIBRES.NS', 'Dividends'),
 'Stock Splits_GARFIBRES.NS': ('GARFIBRES.NS', 'Stock Splits'),
 'Close_COLPAL.NS': ('COLPAL.NS', 'Close'),
 'Volume_COLPAL.NS': ('COLPAL.NS', 'Volume'),
 'Dividends_COLPAL.NS': ('COLPAL.NS', 'Dividends'),
 'Stock Splits_COLPAL.NS': ('COLPAL.NS', 'Stock Splits'),
 'Close_NESTLEIND.NS': ('NESTLEIND.NS', 'Close'),
 'Volume_NESTLEIND.NS': ('NESTLEIND.NS', 'Volume'),
 'Dividends_NESTLEIND.NS': ('NESTLEIND.NS', 'Dividends'),
 'Stock Splits_NESTLEIND.NS': ('NESTLEIND.NS', 'Stock Splits'),
 'Close_MARUTI.NS': ('MARUTI.NS', 'Close'),
 'Volume_MARUTI.NS': ('MARUTI.NS', 'Volume'),
 'Dividends_MARUTI.NS': ('MARUTI.NS', 'Dividends'),
 'Stock Splits_MARUTI.NS': ('MARUTI.NS', 'Stock Splits'),
 'Close_BRITANNIA.NS': ('BRITANNIA.NS', 'Close'),
 'Volume_BRITANNIA.NS': ('BRITANNIA.NS', 'Volume'),
 'Dividends_BRITANNIA.NS': ('BRITANNIA.NS', 'Dividends'),
 'Stock Splits_BRITANNIA.NS': ('BRITANNIA.NS', 'Stock Splits'),
 'Close_BOSCHLTD.NS': ('BOSCHLTD.NS', 'Close'),
 'Volume_BOSCHLTD.NS': ('BOSCHLTD.NS', 'Volume'),
 'Dividends_BOSCHLTD.NS': ('BOSCHLTD.NS', 'Dividends'),
 'Stock Splits_BOSCHLTD.NS': ('BOSCHLTD.NS', 'Stock Splits'),
 'Close_ONGC.NS': ('ONGC.NS', 'Close'),
 'Volume_ONGC.NS': ('ONGC.NS', 'Volume'),
 'Dividends_ONGC.NS': ('ONGC.NS', 'Dividends'),
 'Stock Splits_ONGC.NS': ('ONGC.NS', 'Stock Splits'),
 'Close_ABBOTINDIA.NS': ('ABBOTINDIA.NS', 'Close'),
 'Volume_ABBOTINDIA.NS': ('ABBOTINDIA.NS', 'Volume'),
 'Dividends_ABBOTINDIA.NS': ('ABBOTINDIA.NS', 'Dividends'),
 'Stock Splits_ABBOTINDIA.NS': ('ABBOTINDIA.NS', 'Stock Splits'),
 'Close_DIVISLAB.NS': ('DIVISLAB.NS', 'Close'),
 'Volume_DIVISLAB.NS': ('DIVISLAB.NS', 'Volume'),
 'Dividends_DIVISLAB.NS': ('DIVISLAB.NS', 'Dividends'),
 'Stock Splits_DIVISLAB.NS': ('DIVISLAB.NS', 'Stock Splits'),
 'Close_BAJFINANCE.NS': ('BAJFINANCE.NS', 'Close'),
 'Volume_BAJFINANCE.NS': ('BAJFINANCE.NS', 'Volume'),
 'Dividends_BAJFINANCE.NS': ('BAJFINANCE.NS', 'Dividends'),
 'Stock Splits_BAJFINANCE.NS': ('BAJFINANCE.NS', 'Stock Splits'),
 'Close_RECLTD.NS': ('RECLTD.NS', 'Close'),
 'Volume_RECLTD.NS': ('RECLTD.NS', 'Volume'),
 'Dividends_RECLTD.NS': ('RECLTD.NS', 'Dividends'),
 'Stock Splits_RECLTD.NS': ('RECLTD.NS', 'Stock Splits'),
 'Close_PFC.NS': ('PFC.NS', 'Close'),
 'Volume_PFC.NS': ('PFC.NS', 'Volume'),
 'Dividends_PFC.NS': ('PFC.NS', 'Dividends'),
 'Stock Splits_PFC.NS': ('PFC.NS', 'Stock Splits'),
 'Close_PIDILITIND.NS': ('PIDILITIND.NS', 'Close'),
 'Volume_PIDILITIND.NS': ('PIDILITIND.NS', 'Volume'),
 'Dividends_PIDILITIND.NS': ('PIDILITIND.NS', 'Dividends'),
 'Stock Splits_PIDILITIND.NS': ('PIDILITIND.NS', 'Stock Splits'),
 'Close_ARE&M.NS': ('ARE&M.NS', 'Close'),
 'Volume_ARE&M.NS': ('ARE&M.NS', 'Volume'),
 'Dividends_ARE&M.NS': ('ARE&M.NS', 'Dividends'),
 'Stock Splits_ARE&M.NS': ('ARE&M.NS', 'Stock Splits')}

In [52]:
stockData_22=stockData_22.reset_index()

In [54]:
stockData_22

,Date,Close_HDFCBANK.NS,Close_HINDUNILVR.NS,Close_ASIANPAINT.NS,Close_RELIANCE.NS,Close_TCS.NS,Close_AUROPHARMA.NS,Close_BBTC.NS,Close_BALKRISIND.NS,Close_GARFIBRES.NS,...,Stock Splits_BRITANNIA.NS,Stock Splits_BOSCHLTD.NS,Stock Splits_ONGC.NS,Stock Splits_ABBOTINDIA.NS,Stock Splits_DIVISLAB.NS,Stock Splits_BAJFINANCE.NS,Stock Splits_RECLTD.NS,Stock Splits_PFC.NS,Stock Splits_PIDILITIND.NS,Stock Splits_ARE&M.NS
0,1996-01-01,2.331029,34.623829,NaN,3.611231,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1996-01-02,2.327118,34.993587,NaN,3.583147,NaN,NaN,NaN,NaN,NaN,...,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1996-01-03,2.334941,34.786301,NaN,3.610353,NaN,NaN,NaN,NaN,NaN,...,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1996-01-04,2.319296,34.789097,NaN,3.577005,NaN,NaN,NaN,NaN,NaN,...,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1996-01-05,2.315385,34.733070,NaN,3.552434,NaN,NaN,NaN,NaN,NaN,...,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7296,2025-01-17,1636.750000,2354.000000,2261.000000,1302.349976,4124.299805,1178.349976,2003.300049,2705.850098,812.750000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7297,2025-01-20,1651.250000,2345.199951,2280.550049,1305.449951,4077.800049,1202.050049,2034.699951,2721.500000,803.349976,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7298,2025-01-21,1642.400024,2340.500000,2260.350098,1273.699951,4035.850098,1187.000000,1980.099976,2681.600098,778.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7299,2025-01-22,1666.050049,2342.949951,2262.100098,1277.099976,4156.600098,1191.800049,2230.149902,2708.449951,787.799988,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7300,2025-01-23,1664.900024,2321.699951,2276.350098,1263.650024,4145.450195,1244.800049,2232.199951,2728.899902,809.150024,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [62]:
df_long = stockData_22.melt(
    id_vars=["Date"], 
    var_name='variable',  # Use a scalar here
    value_name='value',
    value_vars=value_vars
)

In [63]:
df_long

             Date               variable     value
0      1996-01-01      Close_HDFCBANK.NS  2.331029
1      1996-01-02      Close_HDFCBANK.NS  2.327118
2      1996-01-03      Close_HDFCBANK.NS  2.334941
3      1996-01-04      Close_HDFCBANK.NS  2.319296
4      1996-01-05      Close_HDFCBANK.NS  2.315385
...           ...                    ...       ...
642483 2025-01-17  Stock Splits_ARE&M.NS  0.000000
642484 2025-01-20  Stock Splits_ARE&M.NS  0.000000
642485 2025-01-21  Stock Splits_ARE&M.NS  0.000000
642486 2025-01-22  Stock Splits_ARE&M.NS  0.000000
642487 2025-01-23  Stock Splits_ARE&M.NS  0.000000

[642488 rows x 3 columns]

In [64]:
# Split the 'variable' column into 'company' and 'metric'
df_long[['metric','company']] = df_long['variable'].str.split('_', expand=True)

In [65]:
df_long

             Date               variable     value        metric      company
0      1996-01-01      Close_HDFCBANK.NS  2.331029         Close  HDFCBANK.NS
1      1996-01-02      Close_HDFCBANK.NS  2.327118         Close  HDFCBANK.NS
2      1996-01-03      Close_HDFCBANK.NS  2.334941         Close  HDFCBANK.NS
3      1996-01-04      Close_HDFCBANK.NS  2.319296         Close  HDFCBANK.NS
4      1996-01-05      Close_HDFCBANK.NS  2.315385         Close  HDFCBANK.NS
...           ...                    ...       ...           ...          ...
642483 2025-01-17  Stock Splits_ARE&M.NS  0.000000  Stock Splits     ARE&M.NS
642484 2025-01-20  Stock Splits_ARE&M.NS  0.000000  Stock Splits     ARE&M.NS
642485 2025-01-21  Stock Splits_ARE&M.NS  0.000000  Stock Splits     ARE&M.NS
642486 2025-01-22  Stock Splits_ARE&M.NS  0.000000  Stock Splits     ARE&M.NS
642487 2025-01-23  Stock Splits_ARE&M.NS  0.000000  Stock Splits     ARE&M.NS

[642488 rows x 5 columns]

In [66]:
df_long = df_long.drop(columns='variable')

In [67]:
df_long

             Date     value        metric      company
0      1996-01-01  2.331029         Close  HDFCBANK.NS
1      1996-01-02  2.327118         Close  HDFCBANK.NS
2      1996-01-03  2.334941         Close  HDFCBANK.NS
3      1996-01-04  2.319296         Close  HDFCBANK.NS
4      1996-01-05  2.315385         Close  HDFCBANK.NS
...           ...       ...           ...          ...
642483 2025-01-17  0.000000  Stock Splits     ARE&M.NS
642484 2025-01-20  0.000000  Stock Splits     ARE&M.NS
642485 2025-01-21  0.000000  Stock Splits     ARE&M.NS
642486 2025-01-22  0.000000  Stock Splits     ARE&M.NS
642487 2025-01-23  0.000000  Stock Splits     ARE&M.NS

[642488 rows x 4 columns]

In [68]:
new_order = ['Date','company','metric','value']

In [69]:
df_long=df_long[new_order]

In [70]:
df_long

             Date      company        metric     value
0      1996-01-01  HDFCBANK.NS         Close  2.331029
1      1996-01-02  HDFCBANK.NS         Close  2.327118
2      1996-01-03  HDFCBANK.NS         Close  2.334941
3      1996-01-04  HDFCBANK.NS         Close  2.319296
4      1996-01-05  HDFCBANK.NS         Close  2.315385
...           ...          ...           ...       ...
642483 2025-01-17     ARE&M.NS  Stock Splits  0.000000
642484 2025-01-20     ARE&M.NS  Stock Splits  0.000000
642485 2025-01-21     ARE&M.NS  Stock Splits  0.000000
642486 2025-01-22     ARE&M.NS  Stock Splits  0.000000
642487 2025-01-23     ARE&M.NS  Stock Splits  0.000000

[642488 rows x 4 columns]